<div class="create-listing-section">
  <form action="/action_page.php">
    <label for="listingName">Listing name:</label>
    <input type="text" id="listingName" name="listingName" placeholder="Enter the name of the listing here..."><br><br>
    <label for="price">Listing Price:</label>
    <input type="number" id="price" name="price"><br><br>
    <label for="imageURL">Image URL:</label>
    <input type="number" id="imageURL" name="imageURL"><br><br>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description"><br><br>
    <input type="submit" value="Submit Item">
  </form>
</div>