<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Navbar</title>
  <meta name="description" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/nav.css">
</head>


<header>
  <nav class="align-header">
    <div class="group-buttons">
      <a class="logo" alt="logo" href="/">litebay</a>
    </div>
    <div>
      <div class="group-buttons">
        <div class="navbar-nav">
          <!-- CHANGE /URLS "MY PROFILE"... the route in serverroutework/user-page.js -->
          <a class="nav-item nav-link" id="navButton" href="/user"><navButton>My Profile</navButton></a>
          <a class="nav-item nav-link" id="navButton" href="/admin"><navButton>Admin</navButton></a>
          <a class="nav-item nav-link" id="navButton" href="/create-listing"><navButton>Create Listing</navButton></a>
          <a class="nav-item nav-link" href="/login"><loginButton>Log in/Register</loginButton></a>
          <a method="POST" action="/logout" class="nav-item nav-link"><loginButton>Log out</loginButton></a>

        </div>
      </div>
    </div>
  </nav>
</header>
