<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/">LiteBay</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" <span
      class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- CHANGE /URLS "MY PROFILE"... the route in serverroutework/user-page.js -->
        <a class="nav-item nav-link" href="/urls">My Profile</a>
        <a class="nav-item nav-link" href="/admin">Admin</a>
        <a class="nav-item nav-link" href="/login">Login / Register</a>
      </div>
    </div>
  </nav>
</header>
