<!-- this class should be flex with columns to split these elements up on the page layout 
but also with adaptive styling though -->
<div class="user-profile"> 

  <div>
    <img class="user-image" src="" alt="">
    <label class="fullname"></Label>
    <label class="userLocation"></label> <!--maybe just city and country? -->
  </div>
  <div class="user-favorites">
    <!-- POPULATE THIS WITH USER FAVORITES LISTINGS! -->

  </div>
</div>