<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <title>Create New Listing</title>
  </head>

  <body>
    <%- include('partials/_header') %>
    <main style="margin: 1em;">
      <h2 class="ml-2"><b>Create Listing</b></h2>
      <form action="/urls" method="POST">
        <div class="form-group mb-2 ml-2">
            <label>Item</label><br>
            <input 
              class="form-control"
              type="text"
              name="listing"
              placeholder="Item"
              style="width: 450px"
            /><br>
            <label>Price</label><br>
            <input
              class="form-control"
              type="number"
              name="price"
              placeholder="$5"
              style="width: 450px"
            /><br>
            <label>Image URL</label><br>
            <input
              class="form-control"
              type="text"
              name="image-url"
              placeholder="https://picsum.photos/id/80/400/300"
              style="width: 450px"
            /><br>
            <label>Descripton</label><br>
            <input
              class="form-control"
              type="text"
              name="description"
              placeholder="Eggs"
              style="width: 450px; height: 250px"
            /><br>
          <button type="submit" class="btn btn-primary">List Item</button>
        </div>
      </form>
    </main>
    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
