<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      
    />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="/styles/listings.css" />

    <title>Create New Listing</title>
  </head>


  <body>
    <%- include('partials/_header') %>
    <main style="margin: 1em;"><br><br>
      <title>Create Listing</title>
      <form action="/create-listing" method="POST"><br>
        <div>
            <label class="listing-input">Item</label><br>
            <input 
              class="form-control"
              type="text"
              name="listing"
              placeholder="Item"
              style="width: 450px"
            /><br><br>
            <label class="listing-input">Price</label><br>
            <input
              class="form-control"
              type="number"
              name="price"
              placeholder="$5"
              style="width: 450px"
            /><br><br>
            <label class="listing-input">Image URL</label><br>
            <input
              class="form-control"
              type="text"
              name="image_url"
              placeholder="https://picsum.photos/id/80/400/300"
              style="width: 450px"
            /><br><br>
            <label class="listing-input">Descripton</label><br>
            <input
              class="form-control"
              type="text"
              name="description"
              placeholder="Eggs"
              style="width: 450px; height: 250px"
            /><br><br>
          <button type="submit" class="btn btn-primary">List Item</button>
        </div>
      </form>
    </main>
    <!-- Bootstrap JS -->
  </body>
</html>
