<!DOCTYPE html>
<html lang="en">

<head>

  <link rel="stylesheet" href="/styles/nav.scss" />
  <link rel="stylesheet" href="/styles/main.scss" />
  <link rel="stylesheet" href="styles/login.scss" />
  
  <title>User Login</title>
</head>

<body>
  <%- include('partials/_header') %>
    <div>
      <h2><b>Login</b></h2>
      <form method="POST" action="/login">
        <div>
          <div>
            <label for="email">Email address:</label>
          </div>
          <div>
            <input
             
              name="email"
              type="email"
              placeholder="Email"
              style="width:250px"
            />
          </div>
          <div>
            <label for="password">Password:</label>
          </div>
          <div>
            <input
             
              name="password"
              type="password"
              placeholder="Password"
              style="width:250px"
            />
          </div>
        </div>
        <button class="button" type="submit">Login</button>
      </form>
    </div>
    <div>
      <h2><b>Register Account</b></h2>
      <form method="POST" action="/register">
        <div>
          <div>
            <label for="full-name">Full Name:</label>
          </div>
          <div>
            <input
             
              name="fullName"
              type="full-name"
              placeholder="FirstName LastName"
              style="width:250px"
            />
          </div>
          <div>
            <label for="username">Username:</label>
          </div>
          <div>
            <input
             
              name="username"
              type="username"
              placeholder="Username"
              style="width:250px"
            />
          </div>
          <div>
            <label for="email">Email address:</label>
          </div>
          <div>
            <input
             
              name="email"
              type="email"
              placeholder="email@litebay.org"
              style="width:250px"
            />
          </div>
          <div>
            <label for="password">Password:</label>
          </div>
          <div>
            <input
             
              name="password"
              type="password"
              placeholder="********"
              style="width:250px"
            />
          </div>
        </div>
        <button class="button" type="submit">Register</button>
      </form>
    </div>
</body>

</html>
