<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/main.scss" />
  <link rel="stylesheet" href="/styles/login.scss" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/home.css" />
  
  <title>User Login</title>
  
</head>

<body>
  <%- include('partials/_header') %>
    <div style="margin: 3em;">
      <br><br><br>
      <title>Login</title><br><br>
      <form method="POST" action="/login">
        <div>
          <div>
            <label for="email" class="input-label">Email address:</label>
          </div>
          <div>
            <input
              name="email"
              type="email"
              placeholder="Email"
              style="width:250px"
            />
          </div><br>
          <div>
            <label for="password" class="input-label">Password:</label>
          </div>
          <div>
            <input
              name="password"
              type="password"
              placeholder="Password"
              style="width:250px"
            />
          </div><br>  
        </div>
        <button class="button" type="submit">Login</button>
      </form><br>
    </div>
    <div style="margin: 3em;">
      <title>Register Account</title><br><br>
      <form method="POST" action="/register">
        <div>
          <div>
            <label for="full-name" class="input-label">Full Name:</label>
          </div>
          <div>
            <input
              name="fullName"
              type="full-name"
              placeholder="FirstName LastName"
              style="width:250px"
            />
          </div><br>
          <div>
            <label for="username" class="input-label">Username:</label>
          </div>
          <div>
            <input
              name="username"
              type="username"
              placeholder="Username"
              style="width:250px"
            />
          </div><br>
          <div>
            <label for="email" class="input-label">Email address:</label>
          </div>
          <div>
            <input
              name="email"
              type="email"
              placeholder="email@litebay.org"
              style="width:250px"
            />
          </div><br>
          <div>
            <label for="password" class="input-label">Password:</label>
          </div>
          <div>
            <input
              name="password"
              type="password"
              placeholder="********"
              style="width:250px"
            />
          </div><br>
        </div>
        <button class="button" type="submit">Register</button>
      </form>
    </div>
</body>

</html>
