<!DOCTYPE html>
<html lang="en">

<head>


  <link rel="stylesheet" href="/styles/nav.scss" />
  <link rel="stylesheet" href="/styles/main.scss" />
  <title>User Login</title>
</head>

<body>
  <%- include('partials/_header') %>
    <div>
      <h2 class="ml-3 mt-3"><b>Login</b></h2>
      <form method="POST" action="/login">
        <div>
          <div>
            <label class="ml-3" for="email">Email address:</label>
          </div>
          <div>
            <input
              class="ml-3"
              name="email"
              type="email"
              placeholder="Email"
              style="width:250px"
            />
          </div>
          <div>
            <label class="ml-3 mt-3" for="password">Password:</label>
          </div>
          <div>
            <input
              class="ml-3"
              name="password"
              type="password"
              placeholder="Password"
              style="width:250px"
            />
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-sm ml-3 mt-3">Login</button>
      </form>
    </div>
    <div>
      <h2 class="ml-3 mt-5"><b>Register Account</b></h2>
      <form method="POST" action="/register">
        <div>
          <div>
            <label class="ml-3 mt-3" for="full-name">Full Name:</label>
          </div>
          <div>
            <input
              class="ml-3"
              name="fullName"
              type="full-name"
              placeholder="FirstName LastName"
              style="width:250px"
            />
          </div>
          <div>
            <label class="ml-3" for="username">Username:</label>
          </div>
          <div>
            <input
              class="ml-3"
              name="username"
              type="username"
              placeholder="Username"
              style="width:250px"
            />
          </div>
          <div>
            <label class="ml-3" for="email">Email address:</label>
          </div>
          <div>
            <input
              class="ml-3"
              name="email"
              type="email"
              placeholder="email@litebay.org"
              style="width:250px"
            />
          </div>
          <div>
            <label class="ml-3 mt-3" for="password">Password:</label>
          </div>
          <div>
            <input
              class="ml-3"
              name="password"
              type="password"
              placeholder="********"
              style="width:250px"
            />
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-sm ml-3 mt-3">Register</button>
      </form>
    </div>
    <!-- Bootstrap JS -->
</body>

</html>
