.admin-header {
  width: 100%;
  text-align: center;
  text-justify: end;
  padding-top: 100px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/** Header adaptability by screen size */
@media only screen and (min-width: 1024px) {
  .user-header {
    margin: 100px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
  }
}