@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

card {
  box-sizing: border-box;
  margin: 15px;
  padding:5px;
  background-color: #ABABAB;
}

listingName {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #22188F;
  text-decoration:none;
}

listingDetails {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #121212;
  text-decoration:none;
}

listingPosted {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #6C45B9;
  text-decoration: none;
}

listingText {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #121212;
  text-decoration: none;
}

messageButton {
  margin: 0px 10px 0px 10px;
  padding: 10px 10px;
  background-color: rgba(94,114,197,1);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

messageButton:hover {
  background-color: rgba(114,134,217,0.2);
}

iconInactive {
  color: #404040;
}

iconActive{
  color: #22188F;
}