@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

.listing-article {
  box-sizing: border-box;
  margin: 15px;
  padding:15px;
  background-color: #ABBBDB;
  border-radius: 15px;
}

.listing-img {
  border-radius: 15px;
}

.listing-title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #22188F;
  text-decoration:none;
}

.posted-by, .cost {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #121212;
  text-decoration:none;
}

.posted-time {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #6C45B9;
  text-decoration: none;
}

.listing-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #090909;
  text-decoration: none;
}

.stack {
  display: flex;
  justify-content: space-between;
}

messageButton {
  margin: 0px 10px 0px 10px;
  padding: 10px 10px;
  background-color: rgba(94,114,197,1);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

messageButton:hover {
  background-color: rgba(114,134,217,0.2);
}

iconInactive {
  color: #404040;
}

iconActive{
  color: #22188F;
}
