@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

.listing-article {
  box-sizing: border-box;
  width: 1000px;
  margin:  15px;
  padding: 25px;
  background-color: #ABBBDB;
  border-radius: 15px;
}

.listing-img {
  border-radius: 15px;
  width:  200px;
  height: 200px;
}

.listing-title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #22188F;
  text-decoration:none;
}

.posted-by, .cost {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #121212;
  text-decoration:none;
}

.posted-time {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #6C45B9;
  text-decoration: none;
}

.listing-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #090909;
  text-decoration: none;
}

.stack {
  display: flex;
  justify-content: space-between;
}

button {
  width: 150px;
  background-color: #8899FF;
  border: none;
  color: #8899AF;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  
}

button:hover {
  background-color: #9BABCB;
}