@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.input-label {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #EEFFEE;
  text-decoration: none;
}