@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

.sort {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: #222222;
}

title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: #121212;
}

button {
  width: 150px;
  background-color: #8899FF;
  border: none;
  color: #8899AF;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: #9BABCB;
}