nav {
  position: fixed;
  padding: 0.5em;
  display: flex;
  height: 100px;
  width: 100%;
  background-color: #5228EE;
  color: #EEFFEE;
  /** font TBD */
  vertical-align: top;
  top: 0;
  justify-content: space-between;
  z-index: 4000;
}

/** Navbar adaptability by screen size */
@media only screen and (min-width: 1024px) {
  nav {
    height: 100px;
  }
}